<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>deb8 Online</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div style="position:relative;min-width:960px">
        <img th:src="@{${user.img}}" style="position: absolute;right:0;top:0" />
    </div>
    <p th:text="${user.userName}"></p>
    <div class="container text-center">
        <div>
            <h1>Enter a message to join the debate</h1>
        </div>
        <div>

            <form th:action="@{/save_message}" th:object="${message}" method="post" autocomplete="off" style="max-width:200px; margin:auto; margin-top:50px;">
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{text}" required>
                </div>
                <button type="submit" class="btn btn-primary">Send message</button>
            </form>
        </div>

    </div>
</body>
</html>