<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deb8 Online</title>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <div class="container text-center mt-xl-5">
        <div id="logo_img_div">
            <img th:src="@{/images/logo.png}" id="logo_img"/>
            <h5><i>Registration Done</i></h5>

        </div>

    </div>
    <div class="container text-center centered">
        <p th:text="${welcomeMessage}" style="color: #da7f8f"></p>
        <br>
        <a class="btn btn-primary mt-3" th:href="@{/}">Click here to login</a>
    </div>
</body>
</html>