<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration done</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center">
        <div>
            <h1>Registration done!</h1>
            <h5><p th:text="${welcomeMessage}"></p></h5>
            <br>
            <h4><a th:href="@{/}">Click here to login</a></h4>
        </div>

    </div>
</body>
</html>